/*최상위 부터 그 안의 아이템 꾸미기*/
:root {
  --text-color: #e0dfdf;
  --background-color: midnightblue;
  --accent-color: #d6a861;
  --logo-color: rosybrown;
}

body {
  margin: 0;
  font-family: "lato", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px; /*위 양옆*/
}

.logo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--text-color);
}
.header_logo i {
  padding-right: 8px;
}

.header_logo i {
  color: var(--logo-color);
}

.header_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header_menu li {
  padding: 8px 12px;
}

.header_menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.header_icons {
  display: flex;
  list-style: none;
  color: var(--text-color);
  padding-left: 0;
}

.header_icons li {
  padding: 8px 12px;
}

.header_toggleButton {
  font-size: 24px;
  color: var(--logo-color);
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .logo_wrapper {
    width: 100%;
  }

  .header_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .header_menu li {
    width: 100%;
    text-align: center;
  }

  .header_icons {
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .header_toggleButton {
    display: block;
  }

  /*위의 display: none;보다 나중에 적용됨.*/
  .active {
    display: flex;
  }
}
